### Step 1: Data Preprocessing

In the fisrt step we import the required packages. Then we load the dataset in csv format and clean and prepare it for the analysis:

1. **Handle Missing Values**: We drop rows with any missing values to ensure our analysis is based on complete data.
2. **Convert Date Column**: The 'Date' column is converted to a datetime format to facilitate time-based analysis.
3. **Feature Engineering**: We extract the year and month from the 'Date' column to create new features that can be used in our analysis.

This step is crucial as it ensures the dataset is clean and the features are in a suitable format for the subsequent analysis.

# Import packages, load the csv File and display the basic information of the dataset

Pandas: For data manipulation and analysis.
NumPy: For numerical operations and handling arrays.

In [1]:
# Import packages 
import pandas as pd
import numpy as np

# Load the dataset
file_path = r'C:\Users\patri\Desktop\Sandbox\fh_mtm_data\fh_mtm_data_projekt_group1\data_set_amazon_sale_report.csv'
data = pd.read_csv(file_path)

# Display basic information about the dataset
print(data.info())

# Display the first lines of the dataset
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB
None
   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

        Category  ... currency  Amount    ship-city   ship-state  \
0            Set  ...      INR  647.62       MUMBAI  MAHARASHTRA
1          kurta  ...      INR  406.00    BENGALURU    KARNATAKA
2          kurta  ...      INR  329.00  NAVI MUMBAI  MAHARASHTRA
3  Western Dress  ...      INR  753.33   PUDUCHERRY   PUDUCHERRY
4            Top  ...      INR  574.00      CHENNAI   TAMIL NADU

  ship-postal-code  ship-country  \
0         400081.0            IN
1         560085.0            IN
2         410210.0            IN
3         605008.0            IN
4         600073.0            IN

                                       promotion-ids    B2B  fulfilled-by  \
0                                                NaN  False     Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  False     Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108   True           NaN
3                                                NaN  False     Easy Ship
4                                                NaN  False           NaN

  Unnamed: 22
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 24 columns]

C:\Users\patri\AppData\Local\Temp\ipykernel_29584\1584355597.py:7: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

 **Handle Missing Values**

In [2]:
# Identify columns with null values
null_columns = data.columns[data.isnull().any()]

# Display columns with the count of null values
null_counts = data[null_columns].isnull().sum()
print(null_counts)

Courier Status       6872
currency             7795
Amount               7795
ship-city              33
ship-state             33
ship-postal-code       33
ship-country           33
promotion-ids       49153
fulfilled-by        89698
Unnamed: 22         49050
dtype: int64

Remove columns we dont need and the lines with null values

In [3]:
# Remove columns with a large number of null values
columns_to_remove = ['promotion-ids', 'fulfilled-by', 'Unnamed: 22']
data_clean = data.drop(columns=columns_to_remove)

# Remove rows with null values in specific columns
columns_with_nulls = ['Courier Status', 'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country']
data_clean = data_clean.dropna(subset=columns_with_nulls)

# Verify the data cleaning steps
print(data_clean.info())
print(data_clean.head())

<class 'pandas.core.frame.DataFrame'>
Index: 116016 entries, 1 to 128974
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               116016 non-null  int64
 1   Order ID            116016 non-null  object
 2   Date                116016 non-null  object
 3   Status              116016 non-null  object
 4   Fulfilment          116016 non-null  object
 5   Sales Channel       116016 non-null  object
 6   ship-service-level  116016 non-null  object
 7   Style               116016 non-null  object
 8   SKU                 116016 non-null  object
 9   Category            116016 non-null  object
 10  Size                116016 non-null  object
 11  ASIN                116016 non-null  object
 12  Courier Status      116016 non-null  object
 13  Qty                 116016 non-null  int64
 14  currency            116016 non-null  object
 15  Amount              116016 non-null  float64
 16  ship-city           116016 non-null  object
 17  ship-state          116016 non-null  object
 18  ship-postal-code    116016 non-null  float64
 19  ship-country        116016 non-null  object
 20  B2B                 116016 non-null  bool
dtypes: bool(1), float64(2), int64(2), object(16)
memory usage: 18.7+ MB
None
   index             Order ID      Date                        Status  \
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
4      4  407-1069790-7240320  04-30-22                       Shipped
5      5  404-1490984-4578765  04-30-22                       Shipped
6      6  408-5748499-6859555  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL
5     Amazon      Amazon.in          Expedited   SET264  SET264-KR-NP-XL
6     Amazon      Amazon.in          Expedited    J0095      J0095-SET-L

  Category  ...        ASIN Courier Status Qty  currency Amount    ship-city  \
1    kurta  ...  B09K3WFS32        Shipped   1       INR  406.0    BENGALURU
2    kurta  ...  B07WV4JV4D        Shipped   1       INR  329.0  NAVI MUMBAI
4      Top  ...  B098714BZP        Shipped   1       INR  574.0      CHENNAI
5      Set  ...  B08YN7XDSG        Shipped   1       INR  824.0    GHAZIABAD
6      Set  ...  B08CMHNWBN        Shipped   1       INR  653.0   CHANDIGARH

      ship-state ship-postal-code  ship-country    B2B
1      KARNATAKA         560085.0            IN  False
2    MAHARASHTRA         410210.0            IN   True
4     TAMIL NADU         600073.0            IN  False
5  UTTAR PRADESH         201102.0            IN  False
6     CHANDIGARH         160036.0            IN  False

[5 rows x 21 columns]

Remove all columns having only one value

In [4]:
# Count the number of different values per column
unique_values_per_column = data_clean.nunique()
print(unique_values_per_column)

index                 116016
Order ID              108271
Date                      91
Status                    12
Fulfilment                 2
Sales Channel              1
ship-service-level         2
Style                   1371
SKU                     7132
Category                   9
Size                      11
ASIN                    7128
Courier Status             2
Qty                        6
currency                   1
Amount                   867
ship-city               8499
ship-state                67
ship-postal-code        9142
ship-country               1
B2B                        2
dtype: int64

Delete all columns having only one value (Sales Channel= Amazon.in; Currency= INR; ship-country= IN)

In [5]:
# Remove columns with only one values
columns_to_remove = ['Sales Channel ', 'currency', 'ship-country']
data_clean = data_clean.drop(columns=columns_to_remove)

# Count the number of different values per column
unique_values_per_column = data_clean.nunique()
print(unique_values_per_column)

# Verify the data cleaning steps
print(data_clean.info())

index                 116016
Order ID              108271
Date                      91
Status                    12
Fulfilment                 2
ship-service-level         2
Style                   1371
SKU                     7132
Category                   9
Size                      11
ASIN                    7128
Courier Status             2
Qty                        6
Amount                   867
ship-city               8499
ship-state                67
ship-postal-code        9142
B2B                        2
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 116016 entries, 1 to 128974
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               116016 non-null  int64
 1   Order ID            116016 non-null  object
 2   Date                116016 non-null  object
 3   Status              116016 non-null  object
 4   Fulfilment          116016 non-null  object
 5   ship-service-level  116016 non-null  object
 6   Style               116016 non-null  object
 7   SKU                 116016 non-null  object
 8   Category            116016 non-null  object
 9   Size                116016 non-null  object
 10  ASIN                116016 non-null  object
 11  Courier Status      116016 non-null  object
 12  Qty                 116016 non-null  int64
 13  Amount              116016 non-null  float64
 14  ship-city           116016 non-null  object
 15  ship-state          116016 non-null  object
 16  ship-postal-code    116016 non-null  float64
 17  B2B                 116016 non-null  bool
dtypes: bool(1), float64(2), int64(2), object(13)
memory usage: 16.0+ MB
None

**Data Cleaning** 

check the datatypes and in case change them

In [6]:
# Get the data types of all columns in the cleaned dataset
column_data_types = data_clean.dtypes
print(column_data_types)

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
B2B                      bool
dtype: object

In [7]:
# Convert the date an order into date format
data_clean['Date'] = pd.to_datetime(data_clean['Date'], format='%m-%d-%y')
# Change the status of an order into category as there are fixed values
data_clean['Status'] = data_clean['Status'].astype('category')
# Change the Fulfilment of an order into category after is only distribution via Merchant or Amazon possible
data_clean['Fulfilment'] = data_clean['Fulfilment'].astype('category')
# Change the Fulfilment of an order into category as there is only Standard or Expedited
data_clean['ship-service-level'] = data_clean['ship-service-level'].astype('category')
# Change the Category of an order into category as there are fixed types of goods
data_clean['Category'] = data_clean['Category'].astype('category')
# Change the Size of an order into category as there are fixed clothing sizes for the goods
data_clean['Size'] = data_clean['Size'].astype('category')
# Change the Courier Status of an order into category as there is only Shipped, Unshipped or Canceled possible
data_clean['Courier Status'] = data_clean['Courier Status'].astype('category')
# Change the ship-postal-code of an order into object as the values are postal codes
data_clean['ship-postal-code'] = data_clean['ship-postal-code'].astype('object') 
# Change the B2B information into bool as the values are either false or true
data_clean['B2B'] = data_clean['B2B'].astype('bool')

# Verify the updated data types
print(data_clean.dtypes)

index                          int64
Order ID                      object
Date                  datetime64[ns]
Status                      category
Fulfilment                  category
ship-service-level          category
Style                         object
SKU                           object
Category                    category
Size                        category
ASIN                          object
Courier Status              category
Qty                            int64
Amount                       float64
ship-city                     object
ship-state                    object
ship-postal-code              object
B2B                             bool
dtype: object

**Feature Engineering** 

Create new features if necessary, such as extracting month or year from the Date column.

- Day of the Week and Sepeation of Year & Month
    Extract the day of the week from the Date column to see if there are patterns related to specific days (e.g., higher sales on weekends).

In [8]:
# Feature Engineering: Extract month and year from 'Date'
data_clean['Year'] = data_clean['Date'].dt.year
data_clean['Month'] = data_clean['Date'].dt.month
data_clean['DayOfWeek'] = data_clean['Date'].dt.dayofweek


# Display cleaned data information
print(data_clean.info())
print(data_clean.head())

<class 'pandas.core.frame.DataFrame'>
Index: 116016 entries, 1 to 128974
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               116016 non-null  int64
 1   Order ID            116016 non-null  object
 2   Date                116016 non-null  datetime64[ns]
 3   Status              116016 non-null  category
 4   Fulfilment          116016 non-null  category
 5   ship-service-level  116016 non-null  category
 6   Style               116016 non-null  object
 7   SKU                 116016 non-null  object
 8   Category            116016 non-null  category
 9   Size                116016 non-null  category
 10  ASIN                116016 non-null  object
 11  Courier Status      116016 non-null  category
 12  Qty                 116016 non-null  int64
 13  Amount              116016 non-null  float64
 14  ship-city           116016 non-null  object
 15  ship-state          116016 non-null  object
 16  ship-postal-code    116016 non-null  object
 17  B2B                 116016 non-null  bool
 18  Year                116016 non-null  int32
 19  Month               116016 non-null  int32
 20  DayOfWeek           116016 non-null  int32
dtypes: bool(1), category(6), datetime64[ns](1), float64(1), int32(3), int64(2), object(7)
memory usage: 12.7+ MB
None
   index             Order ID       Date                        Status  \
1      1  171-9198151-1101146 2022-04-30  Shipped - Delivered to Buyer
2      2  404-0687676-7273146 2022-04-30                       Shipped
4      4  407-1069790-7240320 2022-04-30                       Shipped
5      5  404-1490984-4578765 2022-04-30                       Shipped
6      6  408-5748499-6859555 2022-04-30                       Shipped

  Fulfilment ship-service-level    Style              SKU Category Size  ...  \
1   Merchant           Standard  JNE3781  JNE3781-KR-XXXL    kurta  3XL  ...
2     Amazon          Expedited  JNE3371    JNE3371-KR-XL    kurta   XL  ...
4     Amazon          Expedited  JNE3671  JNE3671-TU-XXXL      Top  3XL  ...
5     Amazon          Expedited   SET264  SET264-KR-NP-XL      Set   XL  ...
6     Amazon          Expedited    J0095      J0095-SET-L      Set    L  ...

  Courier Status Qty  Amount    ship-city     ship-state ship-postal-code  \
1        Shipped   1   406.0    BENGALURU      KARNATAKA         560085.0
2        Shipped   1   329.0  NAVI MUMBAI    MAHARASHTRA         410210.0
4        Shipped   1   574.0      CHENNAI     TAMIL NADU         600073.0
5        Shipped   1   824.0    GHAZIABAD  UTTAR PRADESH         201102.0
6        Shipped   1   653.0   CHANDIGARH     CHANDIGARH         160036.0

     B2B  Year  Month  DayOfWeek
1  False  2022      4          5
2   True  2022      4          5
4  False  2022      4          5
5  False  2022      4          5
6  False  2022      4          5

[5 rows x 21 columns]

- Day of the Month
    Extract the day of the month to check for patterns related to specific days (e.g., end-of-month sales spikes).

In [9]:
data_clean['DayOfMonth'] = data_clean['Date'].dt.day

- Is Weekend
    Create a binary feature indicating whether a date falls on a weekend in order to see if there are patterns on weekends.

In [10]:
data_clean['IsWeekend'] = data_clean['DayOfWeek'].isin([5, 6])

- Region
    Segment the values in 'ship-state' into six regions of india

In [20]:
# Change values into caps lock to fit to the maping rules
data_clean['ship-state'] = data_clean['ship-state'].str.upper()
print(data_clean['ship-state'].head())

1        KARNATAKA
2      MAHARASHTRA
4       TAMIL NADU
5    UTTAR PRADESH
6       CHANDIGARH
Name: ship-state, dtype: object

In [40]:
# List of states by region
north_states = ['JAMMU & KASHMIR', 'HIMACHAL PRADESH', 'Punjab', 'UTTARAKHAND', 'HARYANA', 'Delhi', 'UTTAR PRADESH', 'Chandigarh', 'LADAKH', 'New Delhi', 'PB', 'Punjab/Mohali/Zirakpur']
south_states = ['ANDHRA PRADESH', 'KARNATAKA', 'KERALA', 'TAMIL NADU', 'TELANGANA', 'Pondicherry', 'Puducherry', 'LAKSHADWEEP']
east_states = ['Bihar', 'JHARKHAND', 'Odisha', 'WEST BENGAL', 'ANDAMAN & NICOBAR ', 'Orissa']
west_states = ['Goa', 'Gujarat', 'MAHARASHTRA', 'DADRA AND NAGAR', 'RAJSHTHAN', 'RJ', 'RAJSTHAN', 'RAJASTHAN']
central_states = ['MADHYA PRADESH', 'CHHATTISGARH']
northeast_states = ['ARUNACHAL PRADESH', 'ASSAM', 'Manipur', 'MEGHALAYA', 'Mizoram', 'Nagaland', 'Sikkim', 'TRIPURA', 'AR', 'NL']

# Convert all state names to uppercase
north_states = [state.upper() for state in north_states]
south_states = [state.upper() for state in south_states]
east_states = [state.upper() for state in east_states]
west_states = [state.upper() for state in west_states]
central_states = [state.upper() for state in central_states]
northeast_states = [state.upper() for state in northeast_states]


# Function to get region
def get_region(state):
    if state in north_states:
        return 'North'
    elif state in south_states:
        return 'South'
    elif state in east_states:
        return 'East'
    elif state in west_states:
        return 'West'
    elif state in central_states:
        return 'Central'
    elif state in northeast_states:
        return 'Northeast'
    else:
        return 'Other'

# Applying the function to create a new column 'Region'
data_clean['Region'] = data_clean['ship-state'].apply(get_region)
print(data_clean.head())

   index             Order ID       Date                        Status  \
1      1  171-9198151-1101146 2022-04-30  Shipped - Delivered to Buyer
2      2  404-0687676-7273146 2022-04-30                       Shipped
4      4  407-1069790-7240320 2022-04-30                       Shipped
5      5  404-1490984-4578765 2022-04-30                       Shipped
6      6  408-5748499-6859555 2022-04-30                       Shipped

  Fulfilment ship-service-level    Style              SKU Category Size  ...  \
1   Merchant           Standard  JNE3781  JNE3781-KR-XXXL    kurta  3XL  ...
2     Amazon          Expedited  JNE3371    JNE3371-KR-XL    kurta   XL  ...
4     Amazon          Expedited  JNE3671  JNE3671-TU-XXXL      Top  3XL  ...
5     Amazon          Expedited   SET264  SET264-KR-NP-XL      Set   XL  ...
6     Amazon          Expedited    J0095      J0095-SET-L      Set    L  ...

  ship-postal-code    B2B  Year  Month DayOfWeek DayOfMonth IsWeekend  Region  \
1         560085.0  False  2022      4         5         30      True   South
2         410210.0   True  2022      4         5         30      True    West
4         600073.0  False  2022      4         5         30      True   South
5         201102.0  False  2022      4         5         30      True   North
6         160036.0  False  2022      4         5         30      True   North

   OrderSize  PricePerItem
1      406.0         406.0
2      329.0         329.0
4      574.0         574.0
5      824.0         824.0
6      653.0         653.0

[5 rows x 26 columns]

In [41]:
other_states = data_clean[data_clean['Region'] == 'Other']

# Print all state names where region is "Other"
print(other_states['ship-state'].tolist())

[]

- Order Size
    Calculate the total order size by multiplying Qty with the Amount (if each row represents a line item, otherwise directly use Amount).

In [12]:
data_clean['OrderSize'] = data_clean['Qty'] * data_clean['Amount']

- Price per Item
    Calculate the price per item if Qty and Amount represent total quantity and total amount.

In [13]:
data_clean['PricePerItem'] = data_clean['Amount'] / data_clean['Qty']

In [30]:
# Save the cleaned dataset to a CSV file
data_clean.to_csv('clean_data_set_amazon_sale_report.csv', index=False)